<header class="main-header">
    <div class="h-100 container">
        <div class="row m-0 align-items-center h-100">
            <div class=" col-6 col-lg-2 pl-0 h-100">
                <figure class="d-flex align-items-center m-0 p-0 h-100">
                    <img src="./assets/img/logo_copy.png" alt="Logo Image" class="w-100 logo" style="cursor:pointer;">
                </figure>
            </div>
            <div class="col-2 pr-0 ml-auto menu-btn-block" (click)="menuToggle()">
                <button class="btn menu-btn">
                    <svg width="100%" height="100%" viewBox="0 0 612 612">
                        <g>
                            <path d="M581.4,520.199H30.6c-16.891,0-30.6,13.709-30.6,30.6C0,567.691,13.709,581.4,30.6,581.4h550.8
				c16.891,0,30.6-13.709,30.6-30.602C612,533.908,598.291,520.199,581.4,520.199z" />
                            <path d="M581.4,275.399H30.6C13.709,275.399,0,289.108,0,306s13.709,30.6,30.6,30.6h550.8
				c16.891,0,30.6-13.709,30.6-30.6S598.291,275.399,581.4,275.399z" />
                            <path d="M30.6,91.799h550.8
				c16.891,0,30.6-13.708,30.6-30.6c0-16.892-13.709-30.6-30.6-30.6H30.6C13.709,30.6,0,44.308,0,61.2
				C0,78.091,13.709,91.799,30.6,91.799z" />
                        </g>
                    </svg>
                </button>
            </div>
            <div class="col-lg-10 pr-0 menu">
                <div class="row m-0">
                    <div class="col-lg-10 text-lg-right p-0 ml-auto">
                        <ul class="m-0 p-0 main-menu">
                            <li>
                                <a href="javascript:void(0)" class="has-submenu" (click)="subMenuToggle($event)">More</a>
                                <ul class="m-0 p-0 sub-menu">
                                    <li>
                                        <a href="javascript:void(0)" (click)="navigateToSection(aboutus)">About Us</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="navigateToSection(testimonial)">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/join-the-national-reentry-round-table">Join The National Reentry Round Table</a>
                                    </li>
                                    <!-- <li>
                                        <a href="javascript:void(0)" routerLink="/advertise-with-us">Advertise with us</a>
                                    </li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="has-submenu" (click)="subMenuToggle($event)" routerLink="/login">Connections</a>
                                <!-- <ul class="m-0 p-0 sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">Basic Plan</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Paid Plan</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Premium Plan</a>
                                    </li>
                                </ul> -->
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="has-submenu" (click)="subMenuToggle($event)">Job Seekers</a>
                                <ul class="m-0 p-0 sub-menu">
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/login">Job seekers</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/login">Jobs</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="loginBtnClick();">Sign In</a>
                            </li>
                            <li>
                                <button class="ml-auto btn common-btn" (click)="signupBtnClick();">Join Now</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="w-100">
    <section class="w-100 banner">
        <div id="bannerCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#bannerCarousel" data-slide-to="1"></li>
                <li data-target="#bannerCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <h2 class="m-0 banner-title">The first professional networking platform for the formerly
                            Incarcerated.</h2>
                        <div class="banner-sub-title">
                            <p class="m-0 mb-2">Connect. Learn. Advance</p>
                            <span class="d-block">Redefining Reentry and equal opportunities through technology and
                                connections.</span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <h2 class="m-0 banner-title">The first professional networking platform for the formerly
                            Incarcerated.</h2>
                        <div class="banner-sub-title">
                            <p class="m-0 mb-2">Connect. Learn. Advance</p>
                            <span class="d-block">Redefining Reentry and equal opportunities through technology and
                                connections.</span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <h2 class="m-0 banner-title">The first professional networking platform for the formerly
                            Incarcerated.</h2>
                        <div class="banner-sub-title">
                            <p class="m-0 mb-2">Connect. Learn. Advance</p>
                            <span class="d-block">Redefining Reentry and equal opportunities through technology and
                                connections.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 common-section welcome-block">
        <div class="container">
            <h3 class="m-0 text-center common-title">Welcome to the future of Reentry</h3>
            <div class="row m-0 welcome">
                <div class="col-md-6 col-lg-4 p-0">
                    <div class="w-100 welcome-content">
                        <figure class="m-0 p-0 mb-4">
                            <img src="./assets/img/welcome/incarcerated.png" alt="Formerly Incarcerated Icon">
                        </figure>
                        <h4 class="m-0 mb-4">Justice Impacted  </h4>
                        <ul class="m-0 p-0">
                            <li>Free Account</li>
                            <li>Access Reentry Service Instantly</li>
                            <li>Find Jobs And Careers</li>
                            <li>Online Community</li>
                            <li>Educational Tools</li>
                            <li>Resume Assistance</li>
                            <li>ConConnect Proffesional Pathway’s Tool</li>
                        </ul>
                        <a href="javascript:void(0)">
                            <span>Read More</span>
                            <img src="./assets/img/welcome/arrow.png" alt="Read More Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-0">
                    <div class="w-100 welcome-content">
                        <figure class="m-0 p-0 mb-4">
                            <img src="./assets/img/welcome/organization.png" alt="Organizations Icon">
                        </figure>
                        <h4 class="m-0 mb-4">Organizations</h4>
                        <ul class="m-0 p-0">
                            <li>Post Service’s/RESOURCES</li>
                            <li>Direct access to justice-impacted community</li>
                            <li>Refer Clients To Organizations</li>
                            <li>Complete Wrap-Around Services Faster</li>
                            <li>Access To Employers</li>
                            <li>Community Of Reentry Professionals</li>
                            <li>Access To Educational Tools</li>
                            <li>View Profiles And See User Needs, Accomplishments and Reentry Plan.</li>
                        </ul>
                        <!-- <p class="m-0 mb-4"> <span class="dot"></span>Post Service’s/RESOURCES <br>
                            <span class="dot"></span>Direct access to justice-impacted community<br>
                            <span class="dot"></span>Refer Clients To Organizations <br>
                            <span class="dot"></span>Complete Wrap-Around Services Faster<br>
                            <span class="dot"></span>Access To Employers <br>
                            <span class="dot"></span>Community Of Reentry Professionals<br>
                            <span class="dot"></span>Access To Educational Tools<br>
                            <span class="dot"></span>View Profiles And See User Needs, Accomplishments and Reentry Plan.</p> -->
                        <a href="javascript:void(0)">
                            <span>Read More</span>
                            <img src="./assets/img/welcome/arrow.png" alt="Read More Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-0">
                    <div class="w-100 welcome-content">
                        <figure class="m-0 p-0 mb-4">
                            <img src="./assets/img/welcome/employers.png" alt="Employers Icon">
                        </figure>
                        <h4 class="m-0 mb-4">Employers</h4>
                        <ul class="m-0 p-0">
                            <li>Free Account</li>
                            <li>View User Profiles</li>
                            <li>Check WOTC Status</li>
                            <li>Features In Email and SMS Campaigns</li>
                            <li>Employee Referal <b data-toggle="tooltip" title="Hire Someone from ConConnect and also refer them to our  community partners in their community for personal or professional development">i</b></li>
                            <li>ConAcademy <b data-toggle="tooltip" title="Educate Your staff in working alongside the formerly incarcerated or  advance your employee’s skills with courses tailored for success in the workforce">i</b></li>
                            <li>Perform Social Good And DEI Responsibilities.</li>
                        </ul>
                        <!-- <p class="m-0 mb-4">	
                            <span class="dot"></span>Free Account <br>
                           	
                            <span class="dot"></span>Post Jobs<br>
                            <span class="dot"></span> View User Profiles<br>
                            <span class="dot"></span> Check WOTC Status <br>
                            <span class="dot"></span> Features In Email and SMS Campaigns<br>
                            <span class="dot"></span>Employee Referal (Hire Someone from ConConnect and also refer them to our  community partners in their community for personal or professional development)<br>
                            <span class="dot"></span> ConAcademy (Educate Your staff in working alongside the formerly incarcerated or  advance your employee’s skills with courses tailored for success in the workforce)<br>
                            <span class="dot"></span> Perform Social Good And DEI Responsibilities.</p> -->
                        <a href="javascript:void(0)">
                            <span>Read More</span>
                            <img src="./assets/img/welcome/arrow.png" alt="Read More Icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w-100 common-section blue-bg about" #aboutus>
        <div class="container position-relative">
            <div class="shapes">
                <img src="./assets/img/about/dots.png" alt="Dots" class="dots">
                <img src="./assets/img/about/semi.png" alt="Semi" class="semi">
                <span class="arrow"></span>
            </div>
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 p-0 pr-lg-4 text-center">
                    <img src="./assets/img/about-us.png" alt="About Image" class="w-100">
                </div>
                <div class="col-lg-6 p-0 pl-lg-4 mt-5 mt-lg-0">
                    <h3 class="m-0 mb-3 mb-md-4 common-title xs">About Us</h3>
                    <p class="m-0 mb-3 mb-md-4">Since 2020 ConConnect has revolutionized the process of reentry by connecting formerly incarcerated people with services instantly. ConConnect provides the justice-impacted community with resources and tools to make a successful Reentry plan and create a pathway towards professional employment or opportunities through networking and building professional connections. </p>                  
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 common-section pad-xs community">
        <div class="container position-relative">
            <div class="shapes">
                <img src="./assets/img/community/dots.png" alt="Dots" class="dots">
                <img src="./assets/img/community/semi.png" alt="Semi" class="semi">
                <img src="./assets/img/community/semi.png" alt="Semi" class="semi btm">
                <span class="arrow"></span>
            </div>
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 p-0 pr-lg-4">
                    <h3 class="m-0 mb-3 mb-md-4 common-title xs">Join the Community</h3>
                    <h3 class="m-0 mb-3 mb-md-4 common-title sm">A community of Professionals awaits you inside.</h3>
                    <p class="m-0 mb-5 text">Reentry organizations, nonprofits, employers, mentors, advocates, you name it, they’re inside our community.</p>
                    <button class="ml-auto btn common-btn" (click)="signupBtnClick();">Join Now</button>                   
                </div>
                <!-- <div class="col-lg-6 p-0 pl-lg-4 mb-5 mb-lg-0"> -->
                <div class="col-lg-6 p-0 pl-lg-4 mb-md-5 mb-lg-0">
                    <div class="multi-image position-relative">
                        <img src="./assets/img/community/top.png" alt="Community Image" class="w-100">                   
                        <img src="./assets/img/community/middle.png" alt="Community Image" class="w-100">      
                        <img src="./assets/img/community/bottom.png" alt="Community Image" class="w-100">      
                    </div>                      
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 common-section blue-bg jobs">
        <div class="container position-relative">
            <div class="shapes">
                <img src="./assets/img/founder/semi.png" alt="Semi" class="semi">
            </div>
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 p-0 pr-lg-4 text-center">
                    <img src="./assets/img/landing/jobs.png" alt="About Image" class="w-100 d-lg-none">
                </div>
                <div class="col-lg-6 p-0 pl-lg-4 mt-5 mt-lg-0">
                    <h3 class="m-0 mb-3 mb-md-4 common-title xs">Jobs Around You</h3>
                    <p class="m-0 mb-5">
                      We work with employers in most industry’s to make sure you have options. Utilize your community and connections to create a pathway to professional employment.
                    </p>
                    <button class="ml-auto btn common-btn" (click)="signupBtnClick();">Join now</button>
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 common-section pad-xs video">
        <div class="container position-relative">
            <div class="shapes">
                <img src="./assets/img/video/dots.svg" alt="Dots" class="dots">
                <img src="./assets/img/video/semi.png" alt="Semi" class="semi">
                <img src="./assets/img/video/triangle.png" alt="Triangle" class="triangle">
                <span class="arrow"></span>
            </div> 
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 p-0 pr-lg-4">
                    <div class="multi-image position-relative">
                        <img src="./assets/img/video/top.png" alt="Video Courses Image" class="w-100">                   
                        <img src="./assets/img/video/bottom.png" alt="Video Courses Image" class="w-100">      
                    </div>             
                </div>
                <div class="col-lg-6 p-0 pl-lg-4 mt-md-5 mt-lg-0">
                  <h3 class="m-0 mb-3 mb-md-4 common-title xs">ConAcademy</h3>
                    <h3 class="m-0 mb-3 mb-md-4 common-title sm">Learn and grow with our online video courses</h3>
                    <p class="m-0 mb-5 text">Learn and become inspired with courses designed by successful formerly incarcerated professionals, entrepreneurs, reentry leaders and top educators from around the nation.</p>
                    <button class="ml-auto btn common-btn" (click)="signupBtnClick();">Sign up</button>
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 common-section blue-bg notes">
        <div class="container position-relative">
            <div class="shapes">
                <img src="./assets/img/founder/dots.png" alt="Dots" class="dots">
                <img src="./assets/img/founder/semi.png" alt="Semi" class="semi">
                <img src="./assets/img/founder/triangle.png" alt="Triangle" class="triangle">
                <span class="arrow"></span>
            </div>
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 p-0 pr-lg-4">
                    <h3 class="m-0 mb-3 mb-md-4 common-title xs">Founder’s Note</h3>
                    <p class="m-0 mb-3 mb-md-4">ConConnect was made to inspire professionalism, make your Reentry easily
                        accessible and provide you with the resources, community, and services for you to connect, learn
                        and advance.</p>
                    <p class="m-0">Welcome to the future of Reentry</p>
                </div>
                <div class="col-lg-6 p-0 pl-lg-4 mb-5 mb-lg-0 text-center">
                    <video controls="controls" class="w-100">
                        <source src="./assets/video/Founders-Note.mp4" type="video/mp4" />
                      </video>
                    <!-- <img src="./assets/img/landing/notes.png" alt="Founder Image" class="w-100"> -->
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 common-section testimonial" #testimonial>
        <div class="container">
            <h3 class="m-0 mb-3 mb-md-4 text-center common-title xs">Testimonials</h3>
            <div id="testimonialCarousel" class="mb-md-4 owl-carousel">
              <div class="item text-center active">
                <p class="m-0 mb-4">ConConnect is important because it provides a trusted platform, understood to be built for the formerly incarcerated, for the formerly incarcerated. ConConnect provides resources that are critical to post-release success, while building a community of support from both sides of the reentry process, the incarcerated individuals', parole/probation, as well as support organizations and their leadership. </p>
                <p class="m-0 mb-1 testimonial-name">Terrell hall</p>
                <p class="m-0 testimonial-designation">Defy Ventures</p>
              </div>
                <div class="item text-center">
                  <p class="m-0 mb-4">
                    What makes ConCourses valuable are its dual purposes:<br />
                    1. It provides a critical educational resource for returning citizens as they move forward with their lives;<br />
                    2. It offers employers a much-needed rubric for working with justice-impacted men and women as they re-enter the workforce.<br />ConCourses are designed by professionals with first-hand experience in re-entry, from a diverse variety of perspectives.
                  </p>
                    <p class="m-0 mb-1 testimonial-name">Peter Harper</p>
                    <p class="m-0 testimonial-designation">Real Leaders</p>
                </div>
                <!--<div class="item text-center">
                    <p class="m-0 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    <p class="m-0 mb-1 testimonial-name">Aditi Shinde</p>
                    <p class="m-0 testimonial-designation">Product Designer @ Arivu</p>
                </div>-->
            </div>
            <!-- <div id="testimonialCarousel" class="carousel-item owl-carousel owl-theme">
                <div class="testimonial-block-two">
                    <div class="text-center active">
                        <p class="m-0 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <p class="m-0 mb-1 testimonial-name">Aditi Shinde</p>
                        <p class="m-0 testimonial-designation">Product Designer @ Arivu</p>
                    </div>
                </div>
                <div class="testimonial-block-two">
                    <div class="text-center active">
                        <p class="m-0 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <p class="m-0 mb-1 testimonial-name">Aditi Shinde</p>
                        <p class="m-0 testimonial-designation">Product Designer @ Arivu</p>
                    </div>
                </div>
                <div class="testimonial-block-two">
                    <div class="text-center active">
                        <p class="m-0 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <p class="m-0 mb-1 testimonial-name">Aditi Shinde</p>
                        <p class="m-0 testimonial-designation">Product Designer @ Arivu</p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
</main>

<footer class="w-100">
    <div class="common-section main-footer blue-bg">
        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-md-4 col-lg-3 p-0">
                    <figure class="d-flex align-items-center m-0 p-0 h-100">
                        <img src="./assets/img/logo_copy.png" alt="Logo Image" class="w-100 logo">
                    </figure>
                </div>
                <div class="col-12 col-md-8 col-lg-6 p-0 px-md-3 px-lg-4 mt-4 mt-md-0">
                    <div class="row m-0">
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-md-4">
                            <ul class="m-0 p-0 quick-links">
                                <li>
                                    <a href="javascript:void(0)">Contact Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Video Courses</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pl-sm-3 pl-md-4">
                            <ul class="m-0 p-0 quick-links">
                                <li>
                                    <a href="javascript:void(0)">Community Connect</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Jobs Around</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 p-0 mt-4 mt-lg-0">
                    <div class="w-100 h-100 d-flex align-items-center justify-content-lg-end">
                        <ul class="m-0 p-0 social-links">
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="./assets/img/landing/fb.png" alt="Facebook Icon">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="./assets/img/landing/youtube.png" alt="Youtube Icon">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="./assets/img/landing/twitter.png" alt="Twitter Icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <ul class="m-0 p-0 text-center">
                <li>Copyright &copy; 2021</li>
                <li>
                    <a href="javascript:void(0)">Terms of use</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Use of Cookies</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
