<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div class="continer" *ngIf="!spinner">
  <div class="background">
    <img src="./assets/img/login-background.png">
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-5 col-lg-4 mx-auto">
      <div class="row">
        <div class="col-xl-9 text-center col-sm-9 col-md-7 col-lg-5 mx-auto mt-4">
          <img width="250" src="./assets/img/logo copy.png" routerLink="/" style="cursor:pointer">
        </div>
      </div>
      <div class="card card-signin my-4">
        <div class="card-body" style="text-align:center">
          <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
          <form class="form-signin" #myForm="ngForm" (ngSubmit)="onForgotPassword(myForm)" novalidate>
            <h4 class="text-center boarding-page-hdr">Reset Password</h4><br />
            <div class="form-label-group">
              <input type="email" id="inputEmail" name="UserName" #email="ngModel" maxlength="50" [class.is-invalid]="email.invalid && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="Enter Email*" required [(ngModel)]="resetPasswordModel.UserName">
              <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small class="text-danger" *ngIf="email.errors.pattern">Email is Invalid</small>
                <small class="text-danger" *ngIf="email.errors.required">Email is Required</small>

              </div>
            </div>

            <a *ngIf="!submitted && !verify" class="btn btn-signin btn-block btn-sm" (click)="onVerifyCode()" ><span style="color: #fff;font-size: 15px; display: block; padding-top: 10px;">Send Verification Code</span></a>

            <div *ngIf="verify">

              <div class="form-label-group">
                <input type="email" id="inputEmail" name="Gateway" #gateway="ngModel" gateway="ngModel" [class.is-invalid]="gateway.invalid && gateway.touched"
                       min="0"
                       max="999999"
                       maxlength="6"
                       pattern="[0-9]+"
                       class="form-control" placeholder="Enter verification code*" required [(ngModel)]="resetPasswordModel.Gateway">
                <small class="text-danger" [class.d-none]="gateway.valid || gateway.untouched">
                  Please enter valid verification code.
                </small>
              </div>

              <div class="form-label-group">
                <input [type]="fieldTextType ? 'text' : 'password'" id="inputPassword" name="Password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" minlength="8" maxlength="30" class="form-control" placeholder="Enter New Password*" required [(ngModel)]="resetPasswordModel.Password">
                <i class="bi"
                   [ngClass]="{
          'bi-eye-slash-fill': !fieldTextType,
          'bi-eye-fill': fieldTextType
        }"
                   (click)="toggleFieldTextType()" style="position: absolute; right: 9px; top: 7px;"></i>
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">
                  Please enter password more than 8 characters length.
                </small>
              </div>
              <button *ngIf="!submitted" class="btn btn-signin btn-block btn-sm" type="submit" [disabled]="myForm.form.invalid"><span style="color:#fff">Update</span></button>
            </div>
              <div class="text-center" *ngIf="submitted">
                <div class="spinner-border text-center" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
           

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
