<header>
  <div class="h-100 main-container">
    <div class="row m-0 h-100">
      <div class=" col-6 col-lg-2 pl-0 h-100">
        <figure class="d-flex align-items-center m-0 p-0 h-100">
          <img src="../../assets/img/logo.jpg" alt="Logo Image" class="w-100 logo" routerLink="/feed">
        </figure>
      </div>
      <div class="col-2 pr-0 ml-auto menu-btn-block" (click)="menuToggle()">
        <button class="btn menu-btn">
          <svg width="100%" height="100%" viewBox="0 0 612 612">
            <g>
              <path d="M581.4,520.199H30.6c-16.891,0-30.6,13.709-30.6,30.6C0,567.691,13.709,581.4,30.6,581.4h550.8
      c16.891,0,30.6-13.709,30.6-30.602C612,533.908,598.291,520.199,581.4,520.199z" />
              <path d="M581.4,275.399H30.6C13.709,275.399,0,289.108,0,306s13.709,30.6,30.6,30.6h550.8
      c16.891,0,30.6-13.709,30.6-30.6S598.291,275.399,581.4,275.399z" />
              <path d="M30.6,91.799h550.8
      c16.891,0,30.6-13.708,30.6-30.6c0-16.892-13.709-30.6-30.6-30.6H30.6C13.709,30.6,0,44.308,0,61.2
      C0,78.091,13.709,91.799,30.6,91.799z" />
            </g>
          </svg>
        </button>
      </div>
      <div class="col-lg-10 menu">
        <div class="row m-0">
          <div class="col-lg-8">
            <ul class="m-0 p-0 text-center header-list">
              <li routerLink="/jobs">
                <a href="javascript:void(0)" class="header-link">
                  <figure class="m-0 p-0">
                    <img src="../../assets/img/header/icons/jobs.svg" alt="Home Icon">
                  </figure>
                  <span class="d-block text-center">Home</span>
                </a>
              </li>
              <li routerLink="/jobs">
                <a href="javascript:void(0)" class="header-link">
                  <figure class="m-0 p-0">
                    <img src="../../assets/img/header/icons/jobs.svg" alt="Jobs Icon">
                  </figure>
                  <span class="d-block text-center">Jobs</span>
                </a>
              </li>
              <li routerLink="/services">
                <a href="javascript:void(0)" class="header-link">
                  <figure class="m-0 p-0">
                    <img src="../../assets/img/header/icons/services.svg" alt="Services Icon">
                  </figure>
                  <span class="d-block text-center">Services</span>
                </a>
              </li>
              <li routerLink="/connections">
                <a href="javascript:void(0)" class="header-link">
                  <figure class="m-0 p-0">
                    <img src="../../assets/img/header/icons/connection.svg" alt="Connections Icon">
                  </figure>
                  <span class="d-block text-center">Connections</span>
                </a>
              </li>
              <li>
                <a href="https://concourses.education/" class="header-link">
                  <figure class="m-0 p-0">
                    <img src="../../assets/img/header/icons/courses.svg" alt="Courses Icon">
                  </figure>
                  <span class="d-block text-center">Courses</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 pr-0">
            <ul class="m-0 p-0 text-right header-list">
              <li class="profile-menu">
                <a href="javascript:void(0)" class="header-link">
                  <figure class="m-0 p-0">
                    <img src="../../assets/img/header/icons/bell.svg" alt="Notifications Icon">
                  </figure>
                  <span class="d-block text-center">Notifications</span>
                </a>
                <div class="dropdown-content dropdown-responsive-content notif-mob res-content_notif" *ngIf="!isCountZero">

                  <ul style="max-height: 300px; overflow-y: scroll; text-decoration: none; list-style: none; padding: 16px;">
                    <li *ngFor="let notifData of _notificationList" (click)="notifRead(notifData.id, notifData)" style="cursor:pointer;" [innerHtml]="notifData.description">
                      <hr />
                    </li>
                  </ul>
                </div>
              </li>
              <li class="profile-menu">
                <a href="javascript:void(0)" class="header-link">
                  <figure class="m-0 p-0">
                    <img src="../../assets/img/header/icons/profile.svg" alt="Profile Icon">
                  </figure>
                  <span class="d-block text-center">Profile</span>
                </a>
                <div class="dropdown-content dropdown-responsive-content">
                  <a class="btn" (click)="onProfile()"><img src="./assets/img/nav-me-24px.svg" alt="My account icon"
                      class="page-hdr_nav_icons mx-auto">&nbsp;&nbsp;Profile</a><button class="btn"
                    style="margin-left: 8px; margin-bottom: 5px;" (click)="onLogout()"><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
                      class="bi bi-box-arrow-right">
                      <path fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z">
                      </path>
                      <path fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z">
                      </path>
                    </svg>&nbsp;&nbsp;Logout </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>