<!-- <footer class="page-ftr mt-5 boarding-ftr" style="background:#fff;">
  <div class="w-100 h-100 mx-auto text-center d-grid">
    <div class="page-ftr_div mx-auto my-auto d-flex">
      <img class="float-left h-100 my-auto" src="./assets/img/logo copy.png" alt="Conconnect Logo" />
      <span class="page-ftr_span float-right">@2021</span>
    </div>
  </div>
</footer> -->



<footer>
  <div class="main-container">
      <div class="footer-content">
          <img src="../../assets/img/logo.jpg" alt="Logo Image">
          <span>CopyRights &copy; 2021</span>
      </div>
  </div>
</footer>

