<header class="main-header">
    <div class="h-100 container">
        <div class="row m-0 align-items-center h-100">
            <div class=" col-6 col-lg-2 pl-0 h-100">
                <figure class="d-flex align-items-center m-0 p-0 h-100" routerLink="/">
                    <img src="./assets/img/logo_copy.png" alt="Logo Image" class="w-100 logo" style="cursor:pointer;">
                </figure>
            </div>
            <div class="col-2 pr-0 ml-auto menu-btn-block" (click)="menuToggle()">
                <button class="btn menu-btn">
                    <svg width="100%" height="100%" viewBox="0 0 612 612">
                        <g>
                            <path d="M581.4,520.199H30.6c-16.891,0-30.6,13.709-30.6,30.6C0,567.691,13.709,581.4,30.6,581.4h550.8
				c16.891,0,30.6-13.709,30.6-30.602C612,533.908,598.291,520.199,581.4,520.199z" />
                            <path d="M581.4,275.399H30.6C13.709,275.399,0,289.108,0,306s13.709,30.6,30.6,30.6h550.8
				c16.891,0,30.6-13.709,30.6-30.6S598.291,275.399,581.4,275.399z" />
                            <path d="M30.6,91.799h550.8
				c16.891,0,30.6-13.708,30.6-30.6c0-16.892-13.709-30.6-30.6-30.6H30.6C13.709,30.6,0,44.308,0,61.2
				C0,78.091,13.709,91.799,30.6,91.799z" />
                        </g>
                    </svg>
                </button>
            </div>
            <div class="col-lg-10 pr-0 menu">
                <div class="row m-0">
                    <div class="col-lg-10 text-lg-right p-0 ml-auto">
                        <ul class="m-0 p-0 main-menu">
                            <li>
                                <a href="javascript:void(0)" class="has-submenu"
                                    (click)="subMenuToggle($event)">More</a>
                                <ul class="m-0 p-0 sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">About Us</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            routerLink="/join-the-national-reentry-round-table">Join The National Reentry Round Table</a>
                                    </li>
                                    <!-- <li>
                                        <a href="javascript:void(0)">Advertise with
                                            us</a>
                                            routerLink="/advertise-with-us" 
                                    </li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="has-submenu"
                                    (click)="subMenuToggle($event)" routerLink="/login">Connections</a>
                                <!-- <ul class="m-0 p-0 sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">Basic Plan</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Paid Plan</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Premium Plan</a>
                                    </li>
                                </ul> -->
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="has-submenu" (click)="subMenuToggle($event)">Job
                                    Seekers</a>
                                <ul class="m-0 p-0 sub-menu">
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/login">Job seekers</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/login">Jobs</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="loginBtnClick();">Sign In</a>
                            </li>
                            <li>
                                <button class="ml-auto btn common-btn" (click)="signupBtnClick();">Join Now</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- <app-header></app-header> -->

<div class="join-the-national">
    <div class="h-100 container">
        <h1 class="boarding-page-hdr my-3 text-left pl-0 d-block text-capitalize" style="padding-top: 10px;">Join The
            National Reentry Round Table</h1>
        <p class="mb-4">Join Our Reentry Round Table And Listen and Voice In On Advancing Reentry Through Technology,
            Creating Pathways Towards Professional Employment For The Justice-Impacted and more.</p>
        <form class="p-0 m-0 d-lg-grid" novalidate style="display: grid;
            height: auto;
            background: #F4F7FA 0% 0% no-repeat padding-box;
            padding: 20px !important;
            border: 2px solid #fff;
            box-shadow: 0 0 2px #9b9a9a;
            background: white;
            border-radius: 10px;margin-bottom:20px !important;" #myForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="w-100 d-flex-responsive d-sm-grid" aria-label="User's name">
                <div class="w-md-48 float-left mt-2">
                    <label class="boarding-pro-info-lbl text-left" id="first-name-lbl">First Name</label> <br />
                    <input type="text" id="firstname" name="FirstName"
                        class="questionnaire-input-font boarding-pro-info-input form-control font-size-12"
                        maxlength="30" placeholder="First Name*" #firstName="ngModel"
                        [class.is-invalid]="firstName.invalid && (firstName.touched)"
                        [(ngModel)]="joinTheNationalModel.FirstName" required>
                    <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">
                        First Name is Required
                    </small>
                </div>
                <div class="w-md-48 float-right mt-2">
                    <label class="boarding-pro-info-lbl text-left" id="first-name-lbl">Last Name</label> <br />
                    <input type="text" id="lastname" name="LastName" #lastName="ngModel" maxlength="30"
                        [class.is-invalid]="lastName.invalid && lastName.touched"
                        class="questionnaire-input-font boarding-pro-info-input form-control font-size-12"
                        placeholder="Last Name*" required [(ngModel)]="joinTheNationalModel.LastName">
                    <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">
                        Last Name is
                        Required
                    </small>
                </div>
                <div class="clear-both"></div>
                <div class="w-md-48 float-left mt-2">
                    <label class="boarding-pro-info-lbl text-left" id="email">Email</label> <br />
                    <input type="email" id="inputEmail" name="EmailId" #email="ngModel" maxlength="50"
                        [class.is-invalid]="email.invalid && email.touched"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="questionnaire-input-font boarding-pro-info-input form-control font-size-12"
                        placeholder="Email address*" required [(ngModel)]="joinTheNationalModel.EmailId">
                    <div *ngIf="email.errors && (email.invalid && email.touched)">
                        <small class="text-danger" *ngIf="email.errors.pattern">Email is Invalid</small>
                        <small class="text-danger" *ngIf="email.errors.required">Email is Required</small>
                    </div>
                </div>
                <div class="w-md-48 float-right mt-2">
                    <label class="boarding-pro-info-lbl text-left" id="phone-no">Phone number</label> <br />
                    <input type="text" id="phone" name="PhoneNumber" #phone="ngModel" maxlength="10" pattern="[0-9]+" 
                       [class.is-invalid]="phone.invalid && phone.touched" class="questionnaire-input-font boarding-pro-info-input form-control font-size-12"
                       placeholder="Phone number*" required [(ngModel)]="joinTheNationalModel.PhoneNumber">
                <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">
                Phone is required and its valid numbers
                </small>
                </div>
                <div class="clear-both"></div>
                <div class="w-md-48 float-left mt-2">
                    <label class="boarding-pro-info-lbl text-left" id="company-name">Company Name</label> <br />
                    <input type="text" id="companyname" name="CompanyName" #companyName="ngModel" maxlength="30" class="questionnaire-input-font boarding-pro-info-input form-control font-size-12"
                       placeholder="Company Name*" [(ngModel)]="joinTheNationalModel.CompanyName">
                <!-- <small class="text-danger" [class.d-none]="companyName.valid || companyName.untouched">
                  Company Name is
                  Required
                </small> -->
                </div>

                <div class="w-100 float-left my-3 mt-4 d-md-grid h-auto">
                    <button type="submit" name="Continue" class="questionnaire-form-btn text-center mx-auto" [disabled]="myForm.form.invalid">
                        <span style="color: #fff;">Submit</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-footer class="sub-page"></app-footer>