

.cocon-spinner {
  height: 100vh
}

  .cocon-spinner .spinner-border {
    width: 4em;
    height: 4em;
    margin: auto;
  }

.input-group-append-1{
  margin-left:-6px;
}

.cus-pass {
  display: flex;
}

.responsive-google-button {
   width: 331px;
}

@media (max-width:600px) {
  .responsive-toggle-button {
    margin-left: -10px;
  }
  .responsive-google-button {
    width: 253px;
  }
}


