        body {
            overflow: hidden;
            height: 800px;
        }
        .background img {
            width: 100%;
            position: absolute; 
            right: 0;
            opacity: 0.1;
        }
        .card-signin {
          border: 0;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 25px #00000033;
          border-radius: 10px;
        }

        .card-signin .card-title {
          margin-bottom: 2rem;
          font-weight: 300;
          font-size: 1.5rem;
        }

        .card-signin .card-body {
          padding: 2rem;
        }

        .form-signin {
          width: 100%;
          margin-top: 15%;
        }

        .form-signin .btn {
          font-size: 80%;
          border-radius: 5rem;
          font-weight: bold;
          padding: 1rem;
          transition: all 0.2s;
        }

        .form-label-group {
          position: relative;
          margin-bottom: 1rem;
        }

        .form-label-group input {
          height: auto;
          border-radius: 2rem;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 1px solid #989898;
          border-radius: 5px;
          opacity: 1;
        }
        .btn-candidate {
            background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 10px #00000029;
            border-radius: 50px;
            text-align: center;
            letter-spacing: 0px;
            color: #FFFFFF;
            width: 50%;
            position: absolute;
            height: 10.1%;
            margin-top: -1px;
        }
        .btn-candidate-singup {
            background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 10px #00000029;
            border-radius: 50px;
            text-align: center;
            letter-spacing: 0px;
            color: #FFFFFF;
            width: 50%;
            position: absolute;
            height: 39px;
            margin-top: -1px;
        }
        .btn-connections {
            background: #F9F9F9 0% 0% no-repeat padding-box;
            border: 1px solid #01509540;
            border-radius: 0px 50px 50px 0px;
            border-left: none;
            text-align: center;
            letter-spacing: 0px;
            color: #464242;
            width: 49%;
            float: right;
            font-size: 1rem;
        }
        .btn-connections-signup {
            background: #F9F9F9 0% 0% no-repeat padding-box;
            border: 1px solid #01509540;
            border-radius: 0px 50px 50px 0px;
            border-left: none;
            text-align: center;
            letter-spacing: 0px;
            color: #464242;
            width: 49%;
            float: right;
            height: 37px;
            font-size: 1rem;
        }
        .forgotPassword {
            color: #646464;
        }
        .btn-signin {
            background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 10px #00000029;
            border-radius: 50px;
            color: #FFFFFF;
            font-weight: normal !important;
            height: 45px;
            padding: 0px !important;
        }
        .btn-soc {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 10px #00000029;
            border: 1px solid #025C96;
            border-radius: 50px;
            letter-spacing: 0.74px;
            color: #025795;
            text-transform: uppercase;
            text-align: center;
            font-weight: normal !important;
            width: 49%;
            font-size: 10px !important;
            height: 45px;
        }
        .signuptxt {
            text-align: center;
            text-decoration: underline;
            letter-spacing: 1.76px;
            font-size: 24px;
            color: #034A64;
        }
        .newmsg {
            text-align: center;
            letter-spacing: 1.39px;
            color: #1C1C1C;
        }
        .forgotPassword {
            font-size: 12px;
        }
