<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="RPOLI">
    <title>
        Conconnect Login
    </title>
    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/login.css"> -->
    
</head>
<body>
    <div class="continer">
        <div class="background"> 
            <img src="assets/img/login-background.png">
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-5 col-lg-4 mx-auto">
            <div class="row"><div class="col-xl-9 text-center col-sm-9 col-md-7 col-lg-5 mx-auto mt-4">  
                <img width="250" src="assets/img/logo.jpg">
            </div></div>
            <div class="card card-signin my-3">
              <div class="card-body">
                <button class="btn btn-candidate-singup">Candidate</button>
                <button class="btn btn-connections-signup">Connections</button>
                <form class="form-signin">
                  <div class="form-label-group">
                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name *" required autofocus autocomplete="false">
                  </div>

                  <div class="form-label-group">
                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name *" required autofocus autocomplete="false">
                  </div>

                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus autocomplete="false">
                  </div>

                  <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required autocomplete="false">
                  </div>

                  <div class="custom-checkbox text-left">
                    <label class="forgotPassword" for="customCheck1">By clicking Agree & Join, you agree to the ConConnect User Agreement , Privacy Policy, and Cookie Policy</label>
                  </div>
                  <button class="btn btn-signin btn-block btn-sm" type="submit">AGREE & JOIN</button>
                  <p class="text-center mt-1 mb-1">or</p>
                  <button class="btn btn-lg btn-soc text-uppercase" type="submit"><img style="width: 12px;margin-top: -2px;" src="assets/img/google.svg"> Signup with Google</button>
                  <button class="btn btn-lg btn-soc text-uppercase" type="submit"><img style="width: 13px;margin-top: -5px;" src="assets/img/linkedin.svg"> Signup with linkedin</button>
                </form>
              </div>
            </div>
            <div class="row"><div class="col-xl-9 text-center col-sm-9 col-md-7 col-lg-5 mx-auto mt-2">  
                <span class="newmsg">Already on ConConnect? <a href= "#" >Login </a></span>
            </div></div>
          </div>
        </div>
    </div>
</body>
</html>
<!-- <script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap/bootstrap.min.js"></script> -->

<router-outlet></router-outlet>
