<!-- Stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Page Content Start -->

<body class="body-container text-center mx-auto">

  <app-header></app-header>

  <br />
  <h3>Formarly Incarnated Courses</h3>
  <br />
  <div class="container">
    <div class="row icon-boxes">
      <div class="col-md-3 mb-5">
        <div class="card text-center bg-white">
          <div class="card-body text-center">
            <img class="img-fluid mb-2" src="./assets/img/courses/1.PNG">
            <p>The Complete 2021 Web Development Bootstrap</p>
            <p class="text-center tt-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="tt-star-p">(200)</span>
            </p>

            <p>1.5 hours Total - Beginer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <img class="img-fluid mb-2" src="./assets/img/courses/2.PNG">
            <p>The Complete 2021 Web Development Bootstrap</p>
            <p class="text-center tt-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="tt-star-p">(200)</span>
            </p>

            <p>1.5 hours Total - Beginer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <img class="img-fluid mb-2" src="./assets/img/courses/3.PNG">
            <p>The Complete 2021 Web Development Bootstrap</p>
            <p class="text-center tt-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="tt-star-p">(200)</span>
            </p>

            <p>1.5 hours Total - Beginer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <img class="img-fluid mb-2" src="./assets/img/courses/1.PNG">
            <p>The Complete 2021 Web Development Bootstrap</p>
            <p class="text-center tt-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="tt-star-p">(200)</span>
            </p>

            <p>1.5 hours Total - Beginer</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row icon-boxes">
      <div class="col-md-3 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <img class="img-fluid mb-2" src="./assets/img/courses/2.PNG">
            <p>The Complete 2021 Web Development Bootstrap</p>
            <p class="text-center tt-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="tt-star-p">(200)</span>
            </p>

            <p>1.5 hours Total - Beginer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <img class="img-fluid mb-2" src="./assets/img/courses/3.PNG">
            <p>The Complete 2021 Web Development Bootstrap</p>
            <p class="text-center tt-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="tt-star-p">(200)</span>
            </p>

            <p>1.5 hours Total - Beginer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <img class="img-fluid mb-2" src="./assets/img/courses/1.PNG">
            <p>The Complete 2021 Web Development Bootstrap</p>
            <p class="text-center tt-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="tt-star-p">(200)</span>
            </p>

            <p>1.5 hours Total - Beginer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <img class="img-fluid mb-2" src="./assets/img/courses/2.PNG">
            <p>The Complete 2021 Web Development Bootstrap</p>
            <p class="text-center tt-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="tt-star-p">(200)</span>
            </p>

            <p>1.5 hours Total - Beginer</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-footer class="sub-page"></app-footer>

</body>

<!--END: Page Content Start -->
