<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div class="container" *ngIf="!spinner">
  <div class="background">
    <img src="./assets/img/login-background.png">
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-5 col-lg-4 mx-auto">
      <div class="row">
        <div class="col-xl-9 text-center col-sm-9 col-md-7 col-lg-5 mx-auto mt-4">
          <img width="250" src="./assets/img/logo copy.png" routerLink="/" style="cursor:pointer">
        </div>
      </div>
      <div class="card card-signin my-3">
        <div class="card-body" style="text-align:center">
          <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
          <!-- <button class="btn btn-candidate-singup">Candidate</button>
          <button class="btn btn-connections-signup">Connections</button> -->
          <form class="form-signin" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
            <!-- <div>{{myForm.value | json}}</div> -->
            <div style="text-align: center;margin-bottom: 20px;">
              <div class="btn-group btn-group-toggle responsive-toggle-button" data-toggle="buttons">
                <label id="RoleButton" class="btn btn-secondary active" style="height: 40px;
                    padding: 6px;width:140px">
                  <input class="btn-candidate " #Role="ngModel" type="radio" name="Role" id="option2" value="1"
                         autocomplete="off" checked [(ngModel)]=signUpModel.Role> <span style="font-size: 16px;
                        font-weight: lighter;">Candidate</span>
                </label>
                <label id="RoleButton1" class="btn btn-secondary" style="height: 40px;
                    padding: 6px;width:140px">
                  <input class="btn-connection" #Role="ngModel" type="radio" name="Role" id="option3" value="2"
                         autocomplete="off" [(ngModel)]=signUpModel.Role><span style="font-size: 16px;
                        font-weight: lighter;">Connections</span>
                </label>
              </div>
            </div>
            <div *ngIf="signUpModel.Role=='1'">
              <div class="form-label-group">
                <input type="text" id="firstname" name="FirstName" class="form-control" maxlength="30" placeholder="First Name*"
                       #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched"
                       [(ngModel)]="signUpModel.FirstName" required>
                <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">
                  First Name is
                  Required
                </small>
              </div>
              <div class="form-label-group">
                <input type="text" id="lastname" name="LastName" #lastName="ngModel" maxlength="30"
                       [class.is-invalid]="lastName.invalid && lastName.touched" class="form-control"
                       placeholder="Last Name*" required [(ngModel)]="signUpModel.LastName">
                <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">
                  Last Name is
                  Required
                </small>
              </div>
              <div class="form-label-group">
                <input type="text" id="phone" name="Phone" #phone="ngModel" maxlength="10" pattern="[0-9]+" 
                       [class.is-invalid]="phone.invalid && phone.touched" class="form-control"
                       placeholder="Phone number*" required [(ngModel)]="signUpModel.Phone">
                <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">
                Phone is required and its valid numbers
                </small>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" name="UserName" #email="ngModel" maxlength="50"
                       [class.is-invalid]="email.invalid && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                       class="form-control" placeholder="Email address*" required [(ngModel)]="signUpModel.UserName">
                <div *ngIf="email.errors && (email.invalid && email.touched)">
                  <small class="text-danger" *ngIf="email.errors.pattern">Email is Invalid</small>
                  <small class="text-danger" *ngIf="email.errors.required">Email is Required</small>
                </div>
              </div>
              <div class="form-label-group">
                <input [type]="fieldTextType1 ? 'text' : 'password'" id="inputPassword" name="Password" #password="ngModel"
                       [class.is-invalid]="password.invalid && password.touched" minlength="8" maxlength="30" class="form-control"
                       placeholder="Password*" required [(ngModel)]="signUpModel.Password">
                <div class="input-group-append input-group-append-1 ">
                  <i class="bi"
                     [ngClass]="{
          'bi-eye-slash-fill': !fieldTextType1,
          'bi-eye-fill': fieldTextType1
        }"
                     (click)="toggleFieldTextType1()" style="position: absolute; right: 9px; top: 7px;"></i>
                  <!--<span class="input-group-text">
                  <i class="bi"
                     [ngClass]="{
        'bi-eye-slash-fill': !fieldTextType,
        'bi-eye-fill': fieldTextType
      }"
                     (click)="toggleFieldTextType()"></i>
                </span>-->

                </div>
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">
                  Please enter password minimum 8 characters length.
                </small>
              </div>
            </div>
            <!-- <ng-template #connections>
              Please friend, login.
            </ng-template> -->
            <div *ngIf="signUpModel.Role=='2'">
              <div class="form-label-group">
                <input type="text" id="firstname" name="FirstName" class="form-control" placeholder="First Name*"
                       #firstName="ngModel" maxlength="30" [class.is-invalid]="firstName.invalid && firstName.touched"
                       [(ngModel)]="signUpModel.FirstName" required>
                <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">
                  First Name is
                  Required
                </small>
              </div>
              <div class="form-label-group">
                <input type="text" id="lastname" name="LastName" #lastName="ngModel" maxlength="30"
                       [class.is-invalid]="lastName.invalid && lastName.touched" class="form-control"
                       placeholder="Last Name*" required [(ngModel)]="signUpModel.LastName">
                <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">
                  Last Name is
                  Required
                </small>
              </div>
              <div class="form-label-group">
                <input type="text" id="companyname" name="CompanyName" #companyName="ngModel" maxlength="30"
                       [class.is-invalid]="lastName.invalid && lastName.touched" class="form-control"
                       placeholder="Company Name*" required [(ngModel)]="signUpModel.CompanyName">
                <small class="text-danger" [class.d-none]="companyName.valid || companyName.untouched">
                  Company Name is
                  Required
                </small>
              </div>
              <div class="form-label-group">
                <input type="text" id="phone" name="Phone" #phone="ngModel" maxlength="10" pattern="[0-9]+"
                       [class.is-invalid]="phone.invalid && phone.touched" class="form-control"
                       placeholder="Phone number*" required [(ngModel)]="signUpModel.Phone">
                <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">
                  Phone is required and its valid numbers
                </small>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" name="UserName" #email="ngModel" maxlength="50"
                       [class.is-invalid]="email.invalid && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                       class="form-control" placeholder="Email address*" required [(ngModel)]="signUpModel.UserName">
                <div *ngIf="email.errors && (email.invalid && email.touched)">
                  <small class="text-danger" *ngIf="email.errors.pattern">Email is Invalid</small>
                  <small class="text-danger" *ngIf="email.errors.required">Email is Required</small>
                </div>
              </div>
              <div class="form-label-group">
                <input [type]="fieldTextType1 ? 'text' : 'password'" id="inputPassword" name="Password" #password="ngModel"
                       [class.is-invalid]="password.invalid && password.touched" minlength="8" maxlength="30" class="form-control"
                       placeholder="Password*" required [(ngModel)]="signUpModel.Password">
                <div class="input-group-append input-group-append-1 ">
                  <i class="bi"
                     [ngClass]="{
          'bi-eye-slash-fill': !fieldTextType1,
          'bi-eye-fill': fieldTextType1
        }"
                     (click)="toggleFieldTextType1()" style="position: absolute; right: 9px; top: 7px;"></i>
                  <!--<span class="input-group-text">
                  <i class="bi"
                     [ngClass]="{
        'bi-eye-slash-fill': !fieldTextType,
        'bi-eye-fill': fieldTextType
      }"
                     (click)="toggleFieldTextType()"></i>
                </span>-->

                </div>
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">
                  Please enter password minimum 8 characters length.
                </small>

                <!--<input type="password" id="inputPassword" name="Password" #password="ngModel"
                   [class.is-invalid]="password.invalid && password.touched" minlength="8" maxlength="30" class="form-control"
                   placeholder="Password*" required [(ngModel)]="signUpModel.Password">
            <div class="input-group-append input-group-append-1 ">
              <i class="bi"
                 [ngClass]="{
      'bi-eye-slash-fill': !fieldTextType,
      'bi-eye-fill': fieldTextType
    }"
                 (click)="toggleFieldTextType()" style="position: absolute; right: 9px; top: 7px;"></i>
            </div>-->
              </div>
            </div>

            <div class="custom-checkbox text-left">
              <label class="forgotPassword" for="customCheck1">
                By clicking agree & join, you agree to the Conconnect
                <a routerLink="/terms-conditions" target="_blank">User agreement</a>, <a routerLink="/privacy-policy" target="_blank">Privacy policy</a> , and Cookie policy
              </label>
            </div>
            <button *ngIf="!submitted" [disabled]="myForm.form.invalid" class="btn btn-signin btn-block btn-sm"
                    type="submit">
              <span style="color:#fff">AGREE & JOIN</span>
            </button>
            <div class="text-center" *ngIf="submitted">
              <div class="spinner-border text-center" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <p class="text-center mt-3 mb-3">or</p>
          </form>
          <button class="btn btn-lg btn-soc text-uppercase responsive-google-button" (click)="signInWithGoogle()"><img style="width: 12px;margin-top: -2px;" src="./assets/img/google.svg"> Login with Google</button>
          <!--<button class="btn btn-lg btn-soc text-uppercase" (click)="onLinkedinSubmit()"><img style="width: 13px;margin-top: -5px;" src="./assets/img/linkedin.svg"> Login with linkedin</button>-->
        </div>

        <div class="row" style="margin-bottom: 20px;">
          <div class="col-xl-9 text-center col-sm-9 col-md-7 col-lg-5 mx-auto">
            <span class="newmsg">Already on ConConnect? <a routerLink="/login">Login </a></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="spinner" style="background:transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;padding-top:100px;" class="cocon-spinner">
  <div class="spinner-border d-flex justify-content-center">
    <div class="text-center" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<!--<router-outlet></router-outlet>-->
