
<body class="boarding-bg boarding-page-body">
  <!-- Header -->
  <section id="header-section">
    <header class="w-100 bg-white boarding-hdr">
      <nav class="page-hdr w-88 landing-page-wd container">
        <div class="site-logo h-100 float-left d-grid cus-p-l-21 logo-res-margin-left">
          <img class="site-logo_img my-auto" src="./assets/img/logo copy.png" alt="Conconnect Logo" routerLink="/" style="cursor:pointer" />
        </div>
        <div class="site-logo h-100 float-right d-flex cus-p-r-18 login-responsive-margin-right">
          <button class="landing-login-btn my-auto ml-auto" (click)="loginBtnClick();">LOGIN</button>
        </div>
      </nav>
    </header>
  </section>
  <!-- END: Header -->
  <!-- Body markup -->
  <!-- Banner section -->
  <section>
    <div class="w-100 position-relative" style="background: url('./assets/img/landing-banner.png');padding-top:40px;padding-bottom:30px;">
      <img class="w-100 landing-bnr-img" srcset="./assets/img/landing-banner@2x.png 2x, ./assets/img/landing-banner.png 1x " src="./assets/img/landing-banner.png">
      <div class="container w-80 mx-auto py-4 landing-page-wd">
        <div class="landing-bnr-hdr w-88 mx-auto text-center">
          <h1 class="landing-bnr-h1">The First Professional Networking Platform For The Formerly Incarcerated.</h1>
          <div class="my-3"></div>
          <h4 class="landing-bnr-h1">Connect. Learn. Advance.</h4>
          <div class="my-3"></div><br>
                                  <p class="landing-bnr-h2">
                                    Redefining Reentry And Equal Opportunities Through Technology And
                                    Connections.
                                  </p>
          <button style="color: #fff; background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box; border-color: #015095" class="btn btn-primary Landing-bnr-btn" (click)="signupBtnClick();">Signup</button>
        </div>
      </div>
    </div>
  </section>
  <!-- END: Banner section -->
  <!-- Lets Get into the Club section -->
  <section>
    <div class="w-100 bg-white" style="padding-top:30px;padding-bottom:30px;">

      <div class="w-88 py-3 mx-auto text-center landing-page-wd mb-3">

        <span class="mx-auto w-50 text-center get-club-hdr">

          Welcome To The Future Of Reentry

        </span>

      </div>

      <div class="container w-88 py-md-2 row landing-page-wd mx-auto d-flex justify-content-around">

        <div class="col-md-4 text-center pb-2 ">

          <div class="card club-box card-body">
            <div class="">
              <div class="w-md-50 text-center mx-auto">

                <!--<img class="landing-get-club-img" src="./assets/img/formerly-incarcerated.svg" alt="Formerly Incarcerated related image">-->

                <img class="landing-get-club-img"
                     src="./assets/img/courses/formarly-incarcenated.png"
                     alt="Formerly Incarcerated related image" />
              </div>
              <br />
              <div class="w-100 mx-auto">

                <h1 class="landing-get-club-subtitle text-center">Formerly Incarcerated</h1><br>
              
                                                                                            <p class="landing-get-club-desc text-justify">

                                                                                              The Connected Professional Membership serves individuals
                                                                                              affected by the justice system (formerly incarcerated),
                                                                                              probation, and (or) parole. With this premium subscription,
                                                                                              you&#8216;ll be given exclusive access to create your
                                                                                              professional profile on ConConnect and immediately have access
                                                                                              to Reentry services, employment, counseling, a community of
                                                                                              your peers, and much more. Consider it everything you need to
                                                                                              win in your Reentry.

                                                                                            </p>

              </div>
            </div>
          </div>


        </div>

        <!-- END: Lets Get into the Club sub division -->
        <!-- Lets Get into the Club sub division -->

        <div class="col-md-4 text-center pb-2">
          <div class="card club-box card-body">
            <div class="">
              <div class="w-md-50 text-center mx-auto">

                <!--<img class="landing-get-club-img" src="./assets/img/organizations.svg" alt="Organizations related image">-->
                <img class="landing-get-club-img"
                     src="./assets/img/courses/organization.png"
                     alt="Organizations related image" />
              </div>
              <br />
              <div class="w-100 mx-auto">

                <h1 class="landing-get-club-subtitle text-center">Organizations</h1><br>
               
                                                                                    <p class="landing-get-club-desc text-justify">

                                                                                      The ConConnect Organization Membership gives Reentry&#8216;s
                                                                                      and Organizations assisting justice impacted individuals a
                                                                                      profile with tools to help you in your organizational mission.
                                                                                      Utilize technology to advance your current clients by finding
                                                                                      external resources, finding potential clients who need your
                                                                                      services, network with other Reentry leaders and prison reform
                                                                                      advocates, and much more inside.

                                                                                    </p>

              </div>
            </div>
          </div>


        </div>

        <!-- END: Lets Get into the Club sub division -->
        <!-- Lets Get into the Club sub division -->

        <div class="col-md-4 text-center pb-2">
          <div class="card club-box card-body">
            <div class="">
              <div class="w-md-50 text-center mx-auto">

                <!--<img class="landing-get-club-img" src="./assets/img/employers.svg" alt="Employers related image">-->
                <img class="landing-get-club-img"
                     src="./assets/img/courses/employ.png"
                     alt="Employers related image" />
              </div>
              <br />
              <div class="w-100 mx-auto">

                <h1 class="landing-get-club-subtitle text-center">Employers</h1><br>
              
                                                                                <p class="landing-get-club-desc text-justify">

                                                                                  The ConConnect Employ Membership works for single recruiters,
                                                                                  small businesses, or enterprises. In our professional social
                                                                                  network, employers can network and engage with top talent
                                                                                  before hiring, learn about what they&#8216;ve accomplished
                                                                                  then hire based on what they&#8216;re doing, not what
                                                                                  they&#8216;ve done.

                                                                                </p>

              </div>

            </div>
          </div>

        </div>

        <!-- END: Lets Get into the Club sub division -->

      </div>

    </div>
  </section>
  <!-- END: Lets Get into the Club section -->
  <!-- Founder's Note -->
  <section>
    <div class="w-100 founders-note-bg" style="padding-top:40px;padding-bottom:40px;">

      <div class="container  w-88 py-4 mx-auto d-md-flex landing-page-wd">

        <div class="col-md-7">

          <!--<video class="w-100" controls>

            <source src="https://www.youtube.com/embed/zhR-MnQ4MHo" type="video">

          </video>-->
         
          <video controls="controls" class="w-100">
            <source src="./assets/video/Founders-Note.mp4" type="video/mp4" />
          </video>

          <!--<iframe class="w-100 landing-embed-video" height="400" src="https://www.youtube.com/embed/zhR-MnQ4MHo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->

        </div>

        <div class="col-md-5 d-flex">

          <div class="h-auto my-auto">

            <span class="founders-note-text text-left">Founders Note</span>

            <br>

            <div class="my-3"></div>

            <p class="landing-get-club-desc">
              ConConnect was made to inspire professionalism, make your Reentry easily accessible and provide you with the resources, community, and services for you to connect, learn and advance.
              <br />
              <br />
              Welcome to the future of Reentry
            </p>

          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- END: Founder's Note -->
  <section>
    <div class="w-100 bg-white" style="padding-bottom:40px;">
      <div class="container  w-88 py-4 mx-auto d-md-flex landing-page-wd">
        <div class="container">
          <div class="row">
            <div class="col-md-6 d-flex">

              <div class="h-auto my-auto">

                <span class="founders-note-text text-left">Employers Note</span>

                <br>

                <div class="my-3"></div>

                <p class="landing-get-club-desc">There has never been a more critical time in history for Diversity and Inclusion within your company. And we understand that trust is incredibly important when hiring one of our candidates. For those ready for employment, we rigorously review each candidate’s qualifications and education. You will see this rigor when browsing our talent network with badges verifying a candidate’s education and previous work.</p>

              </div>

            </div>
            <div class="col-md-6">           
              <div class="w-88 text-right"
                   style="margin-top: -24px; margin-left: auto;">
                <img class="w-100 landing-network-img img-fluid img-responsive" srcset="./assets/img/landing-network-img@2x.png 2x, ./assets/img/landing-network-img.png 1x " src="./assets/img/landing-network-img.png"> 
              </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- END: Body markup -->
  <!-- Footer -->
  <section>
    <footer class=" page-ftr landing-ftr h-auto">

      <div class="container w-88 mx-auto py-5 d-md-flex landing-page-wd">

        <div class="col-md-4 text-left float-left" style="margin:auto">

          <div class="page-ftr_div mx-auto my-auto d-flex">

            <img class="float-left h-100 my-auto w-70" src="./assets/img/logo copy.png" alt="Conconnect Logo" />

            <span class="page-ftr_span float-right"></span>

          </div>
          <br />

          <div class="text-left" style="margin:auto;padding-left: 10px;">

            <span class="footer-quick-links font-weight-bold" style="text-decoration: underline; padding-bottom: 4px;">Quick Links</span> <br>

            <a href="#" target="_blank" class="footer-quick-links">Community Connect</a> <br>

            <a href="#" target="_blank" class="footer-quick-links">Jobs</a> <br>

            <a href="#" target="_blank" class="footer-quick-links">Services</a> <br>
            <a href="#" target="_blank" class="footer-quick-links">Video Courses</a> <br>

            <a href="#" target="_blank" class="footer-quick-links">Contact Us</a> <br>

          </div>
          <!--<div class="h-auto mx-auto my-3 d-flex">

      <a href="#" target="_blank">

        <img class="landing-social-icons my-auto mr-2" src="./assets/img/facebook-icon.svg" alt="facebook Logo" />

      </a>

      <a href="#" target="_blank">

        <img class="landing-social-icons my-auto ml-1 mr-1" src="./assets/img/linkedin-icon.svg" alt="LinkedIn Logo" />

      </a>

      <a href="#" target="_blank">

        <img class="landing-social-icons my-auto ml-2 mr-1" src="./assets/img/youtube-icon.svg" alt="YouTube Logo" />

      </a>

      <a href="#" target="_blank">

        <img class="landing-social-icons my-auto ml-2" src="./assets/img/twitter-icon.svg" alt="Twitter Logo" />

      </a>

    </div>-->

        </div>

        <hr class="w-100 boarding-pro-info-hr my-3 d-sm-grid d-md-none" />
        <div class="col-md-4">

          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FConConnectllc&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=496436298170788" width="304" height="304" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <hr class="w-100 boarding-pro-info-hr my-3 d-sm-grid d-md-none" />

        <div class="col-md-4 py-0 text-left float-right">

          <div class="w-100 d-grid d-md-flex mb-2">
            <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/conconnectapp?s=08'}"
                                  [opts]="{tweetLimit: 5, height:50}"></ngx-twitter-timeline>


            <!--<div class="float-left w-md-50 px-3 py-2" style="background:transparent;">

        <span class="footer-twitter-hint font-weight-bold text-left">Conconnect on Twitter</span>

      </div>

      <a href="#" target="_blank" class="footer-twitter-div float-right my-auto w-md-50 p-1 d-flex">

        <img class="footer-twitter-icon my-auto col-3 p-0" src="./assets/img/twitter-icon.svg" alt="Twitter Logo" />

        <span class="footer-twitter-span font-weight-bold col-9 p-2 text-left">Follow @conconnect</span>

      </a>-->

          </div>

          <!--<div class="p-4 bg-white" style="border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #9b9a9a;
    background: #f1f1f1 !important;">

                <div class="text-left mb-3 d-flex">

                  <div class="mr-2">
                  </div>

                  <div class="p-1">

                    <span class="footer-con-title text-left"> Conconnect USA </span> <br>

                    <span class="footer-con-subtitle text-left"> @conconnect </span>

                  </div>

                </div>

                <span class="footer-con-desc text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>

              </div>-->

        </div>

      </div>

    </footer>

    <div class="w-100 h-auto bg-white text-center ftr-addon-div">

      <div class="w-50 text-center mx-auto p-md-4 d-grid d-md-flex  container" style="padding-top: 30px !important;
    padding-bottom: 30px !important;">
        <div class="copyright-text">
          Copyright © 2021.
        </div>

        <a class="ftr-addon-links mx-4 my-1" routerLink="/terms-conditions" target="_blank"> Terms of use</a>

        <a class="ftr-addon-links mx-4 my-1" routerLink="/privacy-policy" target="_blank"> Privacy policy </a>

        <a href="#" target="_blank" class="ftr-addon-links mx-4 my-1"> Use of Cookies </a>

      </div>

    </div>

  </section>
  <!-- END: Footer -->

</body>
