<!--<p class="text-center mt-1 mb-1">or</p>
<button class="btn btn-lg btn-soc text-uppercase">
  <img style="width: 12px;margin-top: -2px;"
       src="assets/img/google.svg"> Signup with Google
</button>
<button class="btn btn-lg btn-soc text-uppercase" type="submit">
  <img style="width: 13px;margin-top: -5px;"
       src="assets/img/linkedin.svg"> Signup with linkedin
</button>-->

<div style="background:transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;padding-top:100px;" class="cocon-spinner">
  <div class="spinner-border d-flex justify-content-center">
    <div class="text-center" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

