
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Page Content Start -->

  <body class="body-container text-center mx-auto">
    <app-header></app-header>

    <div class="bg-white border-top border-secondary">
      <div class="card-horizontal card-body c-s">
        <div class="container">
          <div class="row">

            <div class="col-md-7 bg-white text-left mb-3 t-s">
              <h4 class="card-title">Complete AWS A to Z Tutorial</h4>
              <p class="tt-star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="tt-star-p">(200)</span>
              </p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <h5 class="card-text"><b>Category : Formarly Incarnated</b></h5>
            </div>
            <div class="col-md-5 text-center">
              <img alt="" width="480" height="270" class="single-course-unit--course-image--XinHF img-fluid" src="https://img-a.udemycdn.com/course/240x135/3898634_5c95.jpg?rmfc3sWEOU4SHJemK5LV1U-M88BjgRVrK5hkjNj1Yz6VHdYZNViafZT9ZsEbkI8WBMFaSdUkWXrOYelmcQs43ebX6806Mehul1yK6h5nGTbU_vu_KQNU-ti0GaA7dg" srcset="https://img-a.udemycdn.com/course/240x135/3898634_5c95.jpg?rmfc3sWEOU4SHJemK5LV1U-M88BjgRVrK5hkjNj1Yz6VHdYZNViafZT9ZsEbkI8WBMFaSdUkWXrOYelmcQs43ebX6806Mehul1yK6h5nGTbU_vu_KQNU-ti0GaA7dg 1x, https://img-a.udemycdn.com/course/480x270/3898634_5c95.jpg?zpRgZuaatTQBWYeHmE0ESHU-65Tw0MNRVe5Aj-kJhmqNqFM1sjbXE8XelMZO8PrS-mpmqz9HkUgwoUUGklmU8XmNigxSZnovf9EjvNyMxuUVUpJly7AaUgKYx4crnA 2x">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-white p-4 mb-4">
          <h4 class="text-left mb-3">What we will learn :</h4>
          <div class="row text-left">
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

          <div class="row text-center  mb-3">
            <div class="col-md-12 text-center">
              <img alt="AWS" width="800" height="500" class="single-course-unit--course-image--XinHF text-center img-fluid" src="https://img-a.udemycdn.com/course/240x135/3898634_5c95.jpg?rmfc3sWEOU4SHJemK5LV1U-M88BjgRVrK5hkjNj1Yz6VHdYZNViafZT9ZsEbkI8WBMFaSdUkWXrOYelmcQs43ebX6806Mehul1yK6h5nGTbU_vu_KQNU-ti0GaA7dg" srcset="https://img-a.udemycdn.com/course/240x135/3898634_5c95.jpg?rmfc3sWEOU4SHJemK5LV1U-M88BjgRVrK5hkjNj1Yz6VHdYZNViafZT9ZsEbkI8WBMFaSdUkWXrOYelmcQs43ebX6806Mehul1yK6h5nGTbU_vu_KQNU-ti0GaA7dg 1x, https://img-a.udemycdn.com/course/480x270/3898634_5c95.jpg?zpRgZuaatTQBWYeHmE0ESHU-65Tw0MNRVe5Aj-kJhmqNqFM1sjbXE8XelMZO8PrS-mpmqz9HkUgwoUUGklmU8XmNigxSZnovf9EjvNyMxuUVUpJly7AaUgKYx4crnA 2x">
            </div>
          </div>
          <h4 class="text-left">Tags :</h4>
          <div class="row mb-5 mt-3 d-flex flex-wrap">
            <button type="button" class="btn btn-secondary m-2">AWS</button>
            <button type="button" class="btn btn-secondary m-2">Certified AWS</button>
            <button type="button" class="btn btn-secondary m-2">Cloud Services</button>
            <button type="button" class="btn btn-secondary m-2">AI Services</button>
            <button type="button" class="btn btn-secondary m-2">Storage</button>
            <button type="button" class="btn btn-secondary m-2">Notifications</button>
            <button type="button" class="btn btn-secondary m-2">Admin</button>
            <button type="button" class="btn btn-secondary m-2">Security</button>
          </div>
        </div>

      </div>
    </div>

    <app-footer></app-footer>
  </body>

<!--END: Page Content Start -->

