
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url(src/assets/fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('assets/css/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/css/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('assets/css/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url(src/assets/fonts/Poppins-Regular.ttf) format('truetype');
}



@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url(src/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

/*h1, h2, h3, h4, h5, p {
  font: normal normal bold 2rem/1.5 Poppins;
}*/

@media screen and (max-width: 600px) {
  .h1, h1 {
    font-size: 1.5rem !important;
  }

  .h2, h2 {
    font-size: 1.2rem !important;
  }

  .h3, h3 {
    font-size: 1rem !important;
  }

  .h4, h4 {
    font-size: 0.9rem !important;
  }

  .h5, h5 {
    font-size: 0.8rem !important;
  }

  p {
    font-size: 0.8rem !important;
  }
}

body {
  /* overflow: hidden;
    height: 800px; */
}

.background img {
  width: 100%;
  position: absolute;
  right: 0;
  opacity: 0.1;
  height: 772px;
}

.card-signin {
  border: 0;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 25px #00000033;
  border-radius: 10px;
}

  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-body {
    padding: 2rem;
  }

.form-signin {
  width: 100%;
  /* margin-top: 15%; */
}

  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

  .form-label-group input {
    height: auto;
    border-radius: 2rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #989898;
    border-radius: 5px;
    opacity: 1;
  }

.btn-candidate {
  background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 50px !important;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  width: 50%;
  position: absolute;
  height: 10.1%;
  margin-top: -1px;
}

/* #RoleButton1 .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background: #F9F9F9 0% 0% no-repeat padding-box;
  border: 1px solid #01509540 !important;
  border-radius: 0px 50px 50px 0px !important;
  border-left: none;
  text-align: center;
  letter-spacing: 0px;
  color: #464242;
  width: 49% !important;
  float: right;  
  height: 41px;
  font-size: 1rem !important;
}
#RoleButton .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle  {
  background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 0px !important;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  width: 100%;
  position: absolute;
  height: 39px;
  margin-top: -1px;
} */
.btn-connections {
  background: #F9F9F9 0% 0% no-repeat padding-box;
  border: 1px solid #01509540 !important;
  border-radius: 0px 50px 50px 0px !important;
  border-left: none;
  text-align: center;
  letter-spacing: 0px;
  color: #464242;
  width: 49% !important;
  float: right;
  height: 41px;
  font-size: 1rem !important;
}

.btn-connections-signup {
  background: #F9F9F9 0% 0% no-repeat padding-box;
  border: 1px solid #67748040 !important;
  border-radius: 0px 50px 50px 0px !important;
  border-left: none;
  text-align: center;
  letter-spacing: 0px;
  color: #464242;
  width: 49%;
  float: right;
  height: 37px;
  font-size: 1rem;
}

.forgotPassword {
 cursor:pointer;
}

.btn-signin {
  background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 50px;
  color: #FFFFFF;
  font-weight: normal !important;
  height: 45px;
  padding: 0px !important;
}

.btn-soc {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border: 1px solid #025C96;
  border-radius: 50px;
  letter-spacing: 0.74px;
  color: #025795;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal !important;
  width: 49%;
  font-size: 10px !important;
  height: 45px;
}

.signuptxt {
  text-align: center;
  text-decoration: none;
  color: #034A64;
}

.newmsg {
  text-align: center;
  color: #1C1C1C;
}

.forgotPassword {
  font-size: 12px;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #fff !important;
  /* background-color:#149f9a !important; */
  background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
  border-color: 1px solid #149f9a !important;
}





/* --------------------------------------------site.css--------------------------- */
/* Bootstrap style sheets */

/* @import url(../css/bootstrap/bootstrap.min.css);

@import url(../css/bootstrap/bootstrap-grid.min.css);

@import url(../css/bootstrap/bootstrap-reboot.min.css); */



/* font files */


/* Media query for all mobile viewports */

@media screen and (max-width: 767px) {

  .site-logo {
    width: 80px !important;
    position: relative;
    z-index: 1;
  }

  .d-sm-grid {
    display: grid !important;
  }



  .questionnaire-form-btn {
    width: 100% !important;
  }



  .landing-bnr-img {
    height: 920px !important;
  }



  .landing-ftr {
    height: 660px !important;
  }



  .landing-embed-video {
    height: 200px;
  }
}



/* Media query for all tablet and desktop viewports */

@media screen and (min-width: 768px) {

  .d-md-grid {
    display: grid !important;
  }

  .w-md-48 {
    width: 48% !important
  }
}



/* Media query for all desktop viewports */

@media screen and (min-width: 1025px) {

  .d-md-grid {
    display: grid !important;
  }

  .w-md-48 {
    width: 48% !important
  }

  .d-lg-grid {
    display: grid !important;
  }

  .w-lg-48 {
    width: 48% !important
  }
}



/* Media query for all tablet viewports */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .boarding-page-body {
    width: 1024px;
  }



  .footer-twitter-span {
    font-size: 0.8rem !important;
  }
}



@media screen and (min-width: 1920px) {

  .feed-page-wd, .landing-page-wd {
    width: 1704px !important;
  }



    .feed-page-wd.page-hdr {
      padding: 0 1.5rem;
    }
}



.d-grid {
  display: grid;
}

.w-90 {
  width: 90%;
}

.w-94 {
  width: 94%;
}

.w-88 {
  width: 88%;
}

.w-84 {
  width: 84%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

button:focus {
  outline: none;
}



/* Feed Page styles*/



.card-header, .card-footer {
  background: transparent;
  border: none;
}



ul.page-hdr_nav_links > li {
  display: grid;
  text-align: center;
  font: normal normal normal 14px Poppins;
  color: #7A7A7A;
}



  ul.page-hdr_nav_links > li.active {
    color: #0A599A;
  }



.body-container {
  background: #F3F2EF;
  /*  background: #F4F7FA 0% 0% no-repeat padding-box;*/
}



.page-hdr {
  height: 70px;
}



.page-hdr_nav_icons {
  width: 24px;
  height: 24px;
}



.page-ftr {
  height: 160px;
  background: #F2F2F2 0% 0% no-repeat padding-box;
}



.page-ftr_span {
  text-align: left;
  font: normal normal normal 1.5rem/1.8 Poppins;
  color: #464242;
}

.page-ftr_div, .page-ftr_logo {
  height: 40px;
}



.site-logo {
  width: 160px;
}



.site-logo_img {
  height: 32px;
}



.feedpage-layout {
  display: grid;
  grid-template-areas: "profile-div feed-div bulletin-div";
  grid-template-columns: 21% 50% 21%;
  column-gap: 4%;
}



.feed-profile {
  grid-area: profile-div;
  max-width: 360px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  height: max-content;
  float: right;
}



.feed-profile_img {
  width: 136px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 35%;
}



.feed-profile_display_picture {
  /*  border: 1px solid #015095;*/
  width: 122px;
  height: 122px !important;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
}

.feed-profile_display_picture-1 {
  width: 200px;
}



.feed-profile_name {
  text-align: center;
  font: normal normal 600 1.2rem/1.5rem Poppins;
  color: #000;
}



.feed-profile_role {
  text-align: center;
  font: normal normal normal 1rem/1.2rem Poppins;
  color: #646464;
}



.feed-profile_org {
  text-align: center;
  font: normal normal normal 1rem/1.2rem Poppins;
  color: #0099FF;
}



.feed-profile_bio {
  width: 85%;
  text-align: center;
  font: normal normal 300 14px Poppins;
  color: #4D4C4C;
  line-height: 1.6;
}



.feed-profile_hr {
  width: 100%;
  height: 3px;
  color: #707070;
}



.feed-profile_followers_lb {
  text-align: left;
  font: normal normal normal 16px Poppins;
  color: #000;
}



.feed-profile_followers_val {
  text-align: left;
  font: normal normal 600 16px Poppins;
  color: #035296;
}



.feed-main {
  grid-area: feed-div;
  max-width: 852px;
}



.feed-main_bnr {
  display: grid;
  min-height: 150px;
  height: auto;
  grid-template-areas: "main-jobs-div main-courses-div main-services-div";
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
}



.feed-main_bnr_text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font: normal normal 600 1.25rem/1.5rem Poppins;
  color: #FFF;
  text-shadow: 0px 3px 6px #00000029;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}



.feed-main_bnr_jobs {
  grid-area: main-jobs-div;
  background: #4194D6 0% 0% no-repeat padding-box;
  border-radius: 5px;
  position: relative;
  background-image: url('/src/assets/img/banner-jobs.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
}



.feed-main_bnr_courses {
  grid-area: main-courses-div;
  background: #DC3C72 0% 0% no-repeat padding-box;
  border-radius: 5px;
  position: relative;
  background-image: url('src/assets/img/banner-courses.png');
  background-repeat: no-repeat;
  background-size: 100% 95%;
  background-position: top;
}



.feed-main_bnr_services {
  grid-area: main-services-div;
  background: #73AA35 0% 0% no-repeat padding-box;
  border-radius: 5px;
  position: relative;
  background-image: url("src/assets/img/banner-services.png");
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: top;
}



.feed-main_posts {
  box-shadow: 0 0 2px #9b9a9a;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
}



.feed-main_posting {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border: 1px solid #D2CFCF;
  border-radius: 10px;
}



.feed-main_posting_icon {
  height: 32px;
  width: 32px;
}



.feed-main_posting_btn {
  text-align: left;
  font: normal normal normal 0.8rem/1rem Poppins;
  color: #707070;
}



  .feed-main_posting_btn > img {
    height: 28px;
    width: 28px;
  }



.feed-main_posting_text {
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #9B9B9B;
  border-radius: 50px;
  width: calc(100% - 88px);
  color: #9B9B9B;
}



  .feed-main_posting_text:focus {
    outline: none;
  }



.feed-main_posting_nav {
  height: 32px;
}



  .feed-main_posting_nav > button {
    background-color: #FFF;
    border: none;
    outline: none;
  }



.feed-main_posts_hdr_dis_img {
  border: 1px solid #E2E2E2;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}



.feed-main_posts_hdr_dis_name {
  text-align: left;
  font: normal normal 600 16px Poppins;
  color: #000;
  text-transform: uppercase;
}



.feed-main_posts_hdr_dis_role {
  text-align: left;
  font: normal normal normal 14px Poppins;
  color: #414141;
}



.feed-main_posts_hdr_dis_time {
  text-align: left;
  font: normal normal normal 0.8rem/1.1rem Poppins;
  color: #A2A2A2;
}



.feed-shared-followlink {
  background-color: white;
  outline: none;
  border: none;
  text-align: left;
  font: normal normal normal 0.9rem/1.2rem Poppins;
  color: #025496;
}



.feed-main_posts_body {
  text-align: left;
  font: normal normal 300 14px Open Sans;
  max-width: 780px;
  line-height: 2;
}



.shared_post_user_dp {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin: 2px;
}



.shared_post_img {
  height: 420px;
}



.feed-post_actioned_stats {
  text-align: left;
  font: normal normal 300 14px Poppins;
  color: #808080;
  height: 32px;
  vertical-align: middle;
}



.feed-post_actioned_icons {
  width: 16px;
  height: 16px;
}



.feed-post_action_icons {
  width: 24px;
  height: 24px;
}



.feed-post_action_text {
  text-align: left;
  font: normal normal normal 14px Poppins;
  color: #6A6A6A;
  vertical-align: middle;
}



.feed-post_action_button {
  outline: none;
  border: none;
  background-color: white;
}



  .feed-post_action_button:focus {
    outline: none;
  }



.feed-post_hr {
  color: #F3F3F3;
  width: 100%;
  height: 1px;
}



.post-user-comment-box {
  height: 72px;
}



.post-comment-user-dp, .post-user-dp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



.post-comment-user-ta {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 50px;
  height: 64px;
  vertical-align: middle;
  resize: none;
  overflow: hidden;
}



  .post-comment-user-ta:focus {
    outline: none;
  }



textarea::placeholder {
  transform: translate3d(0,15px,0);
  text-align: left;
  font: normal normal 300 14px Poppins;
  color: #808080;
}



.ext-users-comment-box {
  background: #F3F3F3 0% 0% no-repeat padding-box;
  border-radius: 10px;
}



.cmt-other-users-name {
  text-align: left;
  font: normal normal 600 16px Poppins;
  color: #000000;
}



.cmt-other-users-cmt-time {
  text-align: left;
  font: normal normal 600 14px Open Sans;
  color: #A2A2A2;
}



.cmt-other-users-role {
  text-align: left;
  font: normal normal normal 14px Poppins;
  color: #757575;
}



.cmt-other-users-comment {
  text-align: left;
  font: normal normal normal 14px Poppins;
  color: #363636;
}



.feed-bulletin {
  grid-area: bulletin-div;
  max-width: 360px;
  height: min-content;
  float: left;
}



.feed-news, .feed-job-alerts {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5%;
  display: grid;
}



.feed-news_hdr, .feed-job-alerts_hdr {
  text-align: left;
  font: normal normal 600 14px Poppins;
  color: #8D8D8D;
  text-transform: uppercase;
}



.feed-news_hr, .feed-job-alerts_hr {
  width: 100%;
  background-color: #707070;
  opacity: 0.3;
}



.feed-news_text, .feed-job-alerts_text {
  font: normal normal normal 14px Poppins;
  color: #000;
  line-height: 1.5;
}



.feed-news_time {
  font: normal normal normal 0.8rem/1rem Poppins;
  color: #58C5EE;
}



/* END: Feed Page styles*/



/* Boarding Page styles*/

.boarding-bg {
  background: #F3F2EF;
/*  background: #F4F7FA 0% 0% no-repeat padding-box;*/
}



.boarding-page {
  background: #F3F2EF;
/*  background: #F4F7FA 0% 0% no-repeat padding-box;*/
}



.feed-page-wd {
  width: 90%;
}



.boarding-hdr {
  box-shadow: 0px 3px 15px #00000029;
}



.boarding-content {
  width: 80%;
}



.boarding-page-hdr {
  font: normal normal 600 1.5rem/1rem Open Sans;
  color: #545454;
  padding-left: 20px;
}

@media (max-width:600px) {
  .boarding-page-hdr {
    padding-left: 0px;
  }

}

  .boarding-page-layout {
    grid-template-areas: "profile-pic-div profile-info-div";
    grid-template-columns: 240px auto;
    column-gap: 40px;
  }



  .boarding-pro-pic-div {
    grid-area: profile-pic-div;
  }



  .boarding-pro-img-div {
    width: max-content;
  }



  .boarding-pro-info-div {
    grid-area: profile-info-div;
  }



  .boarding-pro-info-flex-cg {
    column-gap: 6%;
  }



.boarding-pro-img {
  object-fit: cover;
  width: 170px;
  height: 170px !important;
  border-radius: 15px;
}



  .pro-pic-chng-pic {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #025B96;
    border-radius: 5px;
    font: normal normal normal 0.8rem/1rem Open Sans;
    color: #025B96;
    margin-top: 24px;
    height: 40px;
  }



.pro-pic-rmv-pic {
  background: #04976e;
  border: #04976e;
  border-radius: 5px;
/*  font: normal normal normal 0.rem/1rem Open Sans;*/
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 10px;
  height: 32px;
  letter-spacing: 0.3px;
  font-weight: 600;
  width: 170px;
  margin-left: 35px;
}



    .pro-pic-chng-pic:focus, .pro-pic-rmv-pic:focus {
      outline: none;
    }



  .boarding-pro-info-hdr {
    font: normal normal bold 1rem/1rem Open Sans;
    color: #545454;
  }



  .boarding-pro-info-hr {
    color: #C1C1C1;
  }



  .boarding-pro-info-lbl {
    font: normal normal normal 0.8rem/1rem Open Sans;
    color: #707070;
  }



  .boarding-pro-info-input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A2A2A2;
    height: 40px;
  }



  .boarding-pro-user-bio, .boarding-pro-user-resume {
    height: 160px;
  }



  .boarding-pro-user-resume {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A2A2A2;
    padding: 1rem;
  }



    .boarding-pro-user-resume > div {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 2px dashed #A2A2A2;
    }



    .boarding-pro-user-resume > .custom-file > .custom-file-label::after {
      text-align: center;
      font: normal normal bold 0.9rem/1 Open Sans;
      letter-spacing: 3px;
      color: #1258D2;
      height: 40px;
      background: #FFF;
      position: initial;
      border: none;
    }



  .custom-file-label {
    font: normal normal bold 0.9rem/1.5 Open Sans;
    color: #707070;
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 1;
    width: 296px;
    height: 80px;
  }



  .custom-file-input:focus ~ .custom-file-label {
    border: none;
    box-shadow: none;
  }



  .boarding-questionnaire-hdr {
    text-align: left;
    font: normal normal normal 0.9rem/1 Open Sans;
    color: #262626;
    letter-spacing: 0.5px;
    line-height: 20px;
  }



  .questionnaire-legend {
    font: normal normal bold 0.9rem/1 Open Sans;
    ;
    color: #545454;
  }



  .questionnaire-ques {
    font: normal normal normal 0.8rem/1.5 Open Sans;
    color: #707070;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 20px;
  }



  .questionnaire-input {
    font: normal normal normal 0.8rem/1 Poppins;
    height: 40px;
    border: 1px solid #A2A2A2;
    color: #8a8781 !important;
  }



  .questionnaire-option, .questionnaire-input-font {
    font: normal normal normal 0.8rem/1 Poppins;
    color: #8a8781 !important;
  }



  .questionnaire-ques-desc {
    font: normal normal normal 0.8rem/1rem Poppins;
  }



  .questionnaire-form-btn {
    background: transparent linear-gradient( 90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 40px;
    font: normal normal 600 0.9rem/1 Open Sans;
    letter-spacing: 0.82px;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border: none;
  }



/*  select {
    appearance: none;
  }*/



 /* select {
    background: url('assets/img/select-arrow.svg') 98% / 2% no-repeat #fff !important;
  }*/



    /*select.questionnaire-input {
      background: url('assets/img/select-arrow.svg') 98% / 2% no-repeat #fff !important;
    }*/

  /* END: Boarding Page styles */
  /* Landing page styles */
  .landing-login-btn {
    background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 5px;
    text-align: center;
    font: normal normal 600 0.8rem/1 Open Sans;
    color: #FFF;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    border: none;
  }



    .landing-login-btn:focus {
      outline: none;
    }



  .landing-bnr-img {
    height: 640px;
    position: absolute;
    z-index: -1;
  }



  .landing-bnr-h1 {
    text-align: center;
    font: normal normal bold 2rem/1.5 Poppins;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 1;
    height: auto;
  }



  .landing-bnr-h2 {
    text-align: center;
    font: normal normal normal 1.5rem/1.5 Poppins;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    height: auto;
  }



  .Landing-bnr-btn {
    width: 220px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font: normal normal bold 1rem/1.5rem Poppins;
    color: #FFF;
    text-transform: uppercase;
    background: transparent;
    margin-top: 1rem;
  }



  .get-club-hdr {
    font: normal normal 700 1.5rem/1.5 Poppins;
    color: #707070;
    border-bottom: 1px dashed #015095;
    padding-bottom: 10px;
    line-height: 45px;
  }



  .landing-get-club-img {
    width: 200px;
    height: 200px;
    border: 1px solid #015095;
    border-radius: 98px;
    /* background: transparent url('../assets/img/Gr') url('img/Group 521.png') 0% 0% no-repeat padding-box; */
  }



  .landing-get-club-subtitle {
    font: normal normal bold 1.0rem/1 Poppins;
    letter-spacing: 0.3px;
    color: #464242;
  }



  .landing-get-club-desc {
    font: normal normal normal .9rem/1 Poppins;
    letter-spacing: .27px;
    line-height: 24px;
    color: #464242;
  }



  .founders-note-bg {
    background: #FBF7D6 0% 0% no-repeat padding-box;
  }



  .founders-note-text {
    font: normal normal bold 1.5rem/1.2 Poppins;
    color: #464242;
  }



  .founders-note-desc {
    font: normal normal 600 1rem/1.2 Poppins;
    color: #707070;
  }



  /* .landing-network-img { height: 400px;} */



  .landing-social-icons {
    height: 44px;
    width: 44px;
  }



  .footer-quick-links {
    display: inline-block;
    margin-bottom: 10px;
    /* font: normal normal 1.2rem/1.5 Open Sans; */
    color: #707070;
  }



  .footer-twitter-hint {
    font: normal normal 1rem/1.2 Open Sans;
    color: #707070;
  }



  .footer-twitter-div {
    /*background: transparent linear-gradient(180deg, #FFFFFF 0%, #BBBBBB 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;*/
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #9b9a9a;
    background: #f1f1f1 !important;
  }



  .footer-twitter-span {
    font: normal normal 600 0.8rem/1 Open Sans;
    color: #464242;
  }



  .footer-twitter-icon {
    width: 32px;
    height: 32px;
  }



  .footer-con-icon {
    height: 52px;
    width: 52px;
  }



  .footer-con-title {
    font: normal normal 600 1rem/1.2 Open Sans;
    color: #464242;
  }



  .footer-con-subtitle {
    font: normal normal normal 0.9rem/1 Open Sans;
    color: #464242;
  }



  .footer-con-desc {
    font: normal normal normal 0.8rem/1 Open Sans;
    color: #7A7A7A;
  }



  .ftr-addon-div {
    height: 3rem;
  }



  .ftr-addon-links {
    font: normal normal normal 0.9rem/1 Open Sans;
    color: #707070;
  }

  /* END: Landing page styles */


  /*------job page css-------------*/

  /*search box css start here*/
  .search-sec {
    padding: 2rem;
  }

  .search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0 !important;
  }

  .wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
  }

  @media (min-width: 992px) {
    .search-sec {
      top: -114px;
      background: rgba(26, 70, 104, 0.51);
    }
  }

  @media (max-width: 992px) {
    .search-sec {
      background: #1A4668;
    }
  }

  /*categories*/
  #services .box {
    padding: 40px;
    box-shadow: 10px 10px 15px rgb(73 78 92 / 10%);
    background: #fff;
    transition: 0.4s;
    height: 100%;
  }

    #services .box h4 {
      margin-left: 100px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 22px;
    }

  [data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s;
  }

  [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
  }

  .main-section {
    background: url('assets/img/landing-banner.png') !important;
    background-size: cover;
    padding: 115px 0 115px 0;
  }

  .img-h {
    height: 100px;
    width: 100%;
    image-resolution: from-image
  }

  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

  .pb-4 > .fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

    .pb-4 > .fa:hover {
      opacity: 0.7;
    }

  .pb-4 > .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .pb-4 > .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .pb-4 > .fa-google {
    background: #dd4b39;
    color: white;
  }

  .pb-4 > .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .pb-4 > .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .pb-4 > .fa-instagram {
    background: #125688;
    color: white;
  }


  /*----slider-----*/
  @media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }

      .carousel-inner .carousel-item > div:first-child {
        display: block;
      }
  }

  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }

  /* display 3 */
  @media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }

  .checked {
    color: orange;
  }

  .tt-star {
    margin: 0 auto;
  }

  .tt-star-p {
    margin-top: -5px;
    margin-left: 5px;
  }

  .c-s {
    background: rgb(44,210,186);
    background: linear-gradient(0deg, rgba(44,210,186,1) 0%, rgba(85,204,123,1) 100%);
  }

  .t-s {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 0px 12px 2px #d7d7d6;
  }

  /*-----------------feed page css------------------*/
  .h7 {
    font-size: 0.8rem;
  }

  .gedf-wrapper {
    margin-top: 0.97rem;
    clear: both;
  }

  @media (min-width: 992px) {
    .gedf-main {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .gedf-card {
      margin-bottom: 2.77rem;
    }
  }

  /**Reset Bootstrap*/
  .dropdown-toggle::after {
    content: none;
    display: none;
  }


  /*------------------end--------------------------*/


  .btn-outline-primary:hover {
    color: #fff !important;
    background: transparent linear-gradient(90deg, #015095 0%, #09A19A 100%) 0% 0% no-repeat padding-box;
    /*background-color: #079199 !important;*/
    border-color: #079199 !important;
  }

  .btn-outline-primary {
    color: #079199 !important;
    border-color: #079199 !important;
  }

  .club-box {
    border: 2px solid #fff !important;
    box-shadow: 0 0 2px #9b9a9a;
    border-radius: 5px;
    float: left;
    width: 100%;
    padding: 10px !important;
    min-height: 401px !important;
    height: 590px;
  }

    .club-box:hover {
      -webkit-transform: translate(0, -8px);
      -moz-transform: translate(0, -8px);
      -ms-transform: translate(0, -8px);
      -o-transform: translate(0, -8px);
      transform: translate(0, -8px);
      box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
    }


  .landing-login-btn:hover, .btn-signin:hover, .questionnaire-form-btn:hover, .ser-card:hover {
    -webkit-transform: translate(0, -1px);
    -moz-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    -o-transform: translate(0, -1px);
    transform: translate(0, -1px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  }

  .padding-bottom-15 {
    padding-bottom: 15px !important;
  }

  .padding-bottom-10 {
    padding-bottom: 10px !important;
  }

  .margin-bottom-10 {
    margin-bottom: 10px !important;
  }

  .form-control:disabled, .form-control[readonly] {
    opacity: 0.2 !important;
  }


  @media screen and (max-width: 600px) {
    .w-88 {
      width: 100%;
    }

    .cus-p-l-21 {
      padding-left: 0px;
    }

    .cus-p-r-18 {
      padding-right: 0px;
    }

    .club-box {
      height: auto;
    }
  }



  .font-size-12{
    font-size:12px !important;
  }

.post-box-cus-style {
  border: 1px solid rgb(151, 151, 151) !important;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 51px !important;
}

.like-span {
  text-align: left;
  font: normal normal normal 20px/30px Poppins;
  letter-spacing: 0px;
  color: #6A6A6A;
  opacity: 1;
  font-size: 12px;
}

.header-height-cus{
  height:77px;
}

.padding-10{
    padding:10px;
}

.break-height {
  height: 20px;
}
.limit_char_show {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}
.height-10{
    height:10px;
}

